language: bash

os:
  # Travis runs up to five jobs in parallel, but it appears that only up to
  # three of them can be OS X instances.  Hence, listing OS X at the first place
  # results with shorter build times.
  - osx
  - linux

dist: xenial

before_script:
  # Disable sudo for travis user in no_sudo build
  - if [[ "${SCRIPT}" = "no_sudo" ]]; then sudo rm /etc/sudoers.d/travis; fi

  # Import GnuPG keys for "verify.sh" example.
  - gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 249B39D24F25E3B6 2071B08A33BD3F06 04376F3EE0856959 BCEF7E294B092E28

script:
  - examples/${SCRIPT}.sh

env:
  matrix:
    - SCRIPT="all_latest"
    - SCRIPT="all_head"
    - SCRIPT="all_2.1"
    - SCRIPT="all_2.2"
    - SCRIPT="build_dir"
    - SCRIPT="components_individually"
    - SCRIPT="configure_options"
    - SCRIPT="folding_travis"
    - SCRIPT="gpgme"
    - SCRIPT="install_prefix"
    - SCRIPT="no_ldconfig"
    - SCRIPT="no_sudo"
    - SCRIPT="verify"
